<div class="page-container encounters">
  
	<header><h1 class="inverse">Recent Encounters
    <span>See an Alien? Report it!</span>
  </h1>
	</header>

	<div class="encounter-div">
	<ul class="inverse">
		<li *ngFor="let encounter of allEncounters ">
			<div class="encounter-details">
				<p><strong>{{encounter.date}}</strong> - <strong>{{encounter.atype}}</strong></p>
				<p>{{encounter.action}}</p>
			
			</div>
		</li>
	</ul>
	</div>
	<footer>
		<button [routerLink]="['/report']">Report Encounter</button>
	</footer>
</div>